
.body {
  background-color: #000000;
  border-radius: 10px;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.header {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 7%;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 25px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 4px;
  color: #555555;
  display: block;
  width: 120px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.button:hover {
  outline: 0 none;
  background-color: #c9c0c0;
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.input-block,
.update-block,
.buttons-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.input-create-car,
.input-update-car {
  margin: 10px;
  height: 20px;
}

.buttons-container .button:first-child {
  width: 25%;
}

.buttons-container .button:nth-child(2) {
  width: 25%;
}

.buttons-container .button:last-child {
  width: 40%;
}

h2, h3 {
  color: #FFFFFF;
  margin-left: 10px;
}

.main {
  height: 80%;
}

.cars-container {
  height: 80%;
  margin-bottom: 20px;
}

.pagination-container {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}





