
.body {
  background-color: #000000;
  border-radius: 10px;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 7%;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 1px 5px 1px 1px rgba(70, 116, 47, 0.9);
  border-radius: 4px;
  color: #555555;
  display: block;
  width: 120px;
  margin: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  outline: none;
  transition: 0.5s;
}

.button:hover {
  outline: none;
  background-color: #c9c0c0;
  cursor: pointer;
  transform: scale(1.05);
}

.btn-non-active {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
 
}

.button .btn-non-active {
  background-color: #c9c0c0;
}

.header-container .button,
.buttons-container #race-button,
.buttons-container #reset-button {
  background-color: #9cf09b;
  border: 1px solid #9cf09b;
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.non-active {
  display: none;
}

.input-block,
.update-block,
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

input[type="color"] {
  color: #FFFFFF;
}

.input-create-car,
.input-update-car {
  margin: 10px;
  height: 20px;
  outline: none;
}

.buttons-container .button:last-child {
  width: 160px;
}

.main-container {
  margin-bottom: 30px;
}

h2, h3 {
  color: #FFFFFF;
  margin-left: 10px;
  margin-bottom: 20px;
}

.main {
  height: 80%;
}

.cars-container {
  height: 80%;
  margin-bottom: 20px;
}

.pagination-container {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.car-name {
  color: #FFFFFF;
}

svg {
  height: 70px;
}

.car-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.car-name {
  margin-left: 10px;
  color: #e3c814;
}

.car-control-container {
  border-bottom: 3px dashed #FFFFFF;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.car-element {
  margin: 10px 10px 0 10px;
}

.button-control {
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(207, 242, 7,0.9);
  color: #cdf008;
  border: 1px solid #FFFFFF;
}

.button-control:hover {
  outline: none;
  background-color: #000000;
  border: 2px solid #cdf008;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
  text-decoration: none;
  box-shadow: none;
}

.flag {
  margin-left: auto;
}

.win-elem-container {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.win-elem {
  margin: 0 20px;
  color: #ffffff;
}

.win-header-elem {
  margin: 0 10px;
  display: block;
  color: #ffffff;
  text-align: center;
}

.winners {
  display:  none;
}

.list-header {
  background-color: #5eab66;
  display: flex;
  flex-direction: row;
  max-width: 500px;
}

 .list-header .win-header-elem:nth-child(2) {
  width: 100px;
}

/*.winners-container {

}*/

.active {
  display: block;
}

.win-list-container {
  margin-bottom: 30px;
}


